
<div class="content-wrapper" style="margin-top: 50px">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Pending Exclusive Rewards</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Name:</th>
                <th>Time Created at:</th>
                <th>Redeem:</th>
              </tr>
              </thead>
              <% @active_exclrewards.each do |v| %>
                <tr>
                  <td><%= User.find(v.user_id).first_name %> <%=User.find(v.user_id).last_name %></td>
                  <td><%= v.created_at %></td>
                  <td><%= form_tag (excredeem_auth_path(v.vendor_id)) do%>
                      <%= text_field_tag :redeem_code,nil,placeholder: "Enter Redeem Code"%><%= submit_tag "Redeem", class: "btn btn-success first-btn" %><%end%></td>
                </tr>
              <% end %>
            </table>

            <div class="d-flex mt-4">
              <nav class="ml-auto">
                <ul class="pagination pagination-flat pagination-primary">
                  <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>











<