
    <nav class="portal-navbar navbar navbar-fixed-top navbar-light">
        <ul class="portal-nav nav navbar-nav">
          <li><%= link_to '<i class="mdi mdi-view-dashboard-outline menu-icon mdi-18px"></i> Dashboard'.html_safe, dashboard_path, remote: true %></li>
          <li><%= link_to '<i class="mdi mdi-brightness-percent menu-icon mdi-18px"></i> Discount Manager'.html_safe, discountmanager_path, remote: true%></li>
          <li><%= link_to '<i class="mdi mdi-tag menu-icon mdi-18px"></i> Redeem Discounts'.html_safe, pending_discounts_portal_path, remote: true%></li>
          <li><%= link_to '<i class="mdi mdi-ticket menu-icon mdi-18px"></i> Redeem Rewards'.html_safe, pending_exclusive_rewards_path, remote: true %></li>
          <li><%= link_to '<i class="mdi mdi-file-document menu-icon mdi-18px"></i> Vendor Information'.html_safe , vendorinfo_path, remote: true %></li>
        </ul>
    </nav>


    <div id="widget"></div>





