

<div class="container" id="sign-up-form">
  <div class="row">


    <div class="col-sm-offset-4 col-sm-4">
      <h3>Sign up</h3>

      <%= bootstrap_form_for(resource,
                       :as => resource_name,
                       :url => registration_path(resource_name)) do |f| %>
        <% if resource.errors.any? %>
          <div class="alert alert-error"><%= devise_error_messages! %></div>
        <% end %>

  <%= f.text_field :first_name,
                   placeholder: 'First Name',
                   class: 'form-control' %>
  <%= f.text_field :last_name,
                   placeholder: 'Last Name',
                   class: 'form-control' %>
  <%= f.text_field :email,
                   placeholder: 'Email',
                   class: 'form-control' %>
  <%= f.password_field :password,
                       placeholder: 'Password',
                       class: 'form-control' %>
  <%= f.password_field :password_confirmation,
                       placeholder: 'Password Confirmation',
                       class: 'form-control' %>
        <%= f.check_box :has_Business,  label: 'Select if you are a business owner'   %>
<%=f.collection_select(:school_id,School.all,:id,:name) %>
        <%= f.hidden_field :redeem_code, :value => SecureRandom.urlsafe_base64(12).tr('+/=','xyz')%>

        <%= f.submit 'Sign up', class: 'btn sign-up-button'%>
<% end %>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>
