<div class="container">
<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1>
  <h2> Current Location: <%=@user_ip%></h2>

  <%= link_to 'Edit Profile', edit_user_registration_path,class: "btn btn-primary btn-s" %>




  <div class="container marketing">
    <%= render is_vendor_owner_partial_path %>
  </div>











</div>
</div>
