
  <h2 align="center"><%= @schools.name %></h2>
  <div class="well col-xs-8 col-xs-offset-2">
    <h4 class="center"><strong><%= @schools.description %></strong></h4>
    <hr>
      <%= link_to schoolsindex_path,class: "btn btn-success btn-xs",form: {style: 'display:inline-block; margin:2px'} do %>
      <i class="glyphicon glyphicon-chevron-left"></i> Back
      <% end %>

  </div>
  <div class="container">
  <h2><%=@schools.name%> Vendors:</h2>
  <table class="table table-striped custab">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class=""></th>
    </tr>
    </thead>
    <% @school_vendors.each do |v| %>
      <tr>
        <td><%= v.name %></td>
        <td><%= v.description %></td>
        <td><%= link_to vendor_path(v), class: "btn btn-success btn-xs" do %>
            <i class="glyphicon glyphicon-eye-open"></i> View
          <% end %></td>
      </tr>
    <% end %>
  </table>
  </div>

  <div class="container" style='width: 80%;'>
    <div id="map" style='width: 100%; height: 600px;'></div>
    <div id="school_lat" school-lat="<%=@schools.latitude%>"></div>
    <div id="school_lng" school-lng="<%=@schools.longitude%>"></div>
  </div>

  <div class="container">
    <h1>vendor table</h1>
  </div>

  <script type="text/javascript">
      var lat = document.getElementById('school_lat').getAttribute("school-lat");
      var lng = document.getElementById('school_lng').getAttribute("school-lng");
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.getMap().setZoom(14);
          handler.getMap().setCenter(new google.maps.LatLng(lat, lng));
      });
  </script>


